//My footer
//- arreglo con clases de los iconos sociales.
- let socIcon1 = ["fa" "fa-facebook-official", "icono"];
- let socIcon1 = ["fa" "fa-twitter", "icono"];
- let socIcon1 = ["fa" "fa-linkedin-square", "icono"];
- let socIcon1 = ["fa" "fa-google-plus", "icono"];
.container
   h3.mapa Mapa del sitio.
   //-Mapa de google
   div(id='gmap' class="item")
.formulario
   form(id="form")
      input(id="name" type="text" placeholder="NAME")
      input(id="email" type="text" placeholder="E-MAIL")
      textarea(id="message" type="text" placeholder="MESSAGE")
      input(id="submit" type="submit" value="Contactar.")
//-Nuestras redes sociales.

.social
   .sociales
      span Puedes seguirnos en las redes sociales.
   .so
      .sociales1
