//My footer
//- arreglo con clases de los iconos sociales.
- let socIcon1 = ["fa", "fa-facebook-official", "icono"];
- let socIcon2 = ["fa", "fa-twitter", "icono"];
- let socIcon3 = ["fa", "fa-linkedin-square", "icono"];
- let socIcon4 = ["fa", "fa-google-plus", "icono"];
.container
   h3.mapa Mapa del sitio.
   //-Mapa de google
   div(id='gmap' class="item")
.formulario
   form(id="form")
      input(id="name" type="text" placeholder="NAME")
      input(id="email" type="text" placeholder="E-MAIL")
      textarea(id="message" type="text" placeholder="MESSAGE")
      input(id="submit" type="submit" value="Contactar.")
//-Nuestras redes sociales.

.social
   .sociales
      span Puedes seguirnos en las redes sociales.
   .so
      .sociales1
         i(class=socIcon1, aria-hidden="true")
         i(class=socIcon2, aria-hidden="true")
         i(class=socIcon3, aria-hidden="true")
         i(class=socIcon4, aria-hidden="true")
   .copiright
      i(class="fa fa-copyright" aria-hidden="true"): span __By McB0y.
