- let menu = ["Inicio", "Empresa", "Equipo", "Productos", "Contacto"];
h1 Grupo Magnate
.iconos
   img(src="Plugs_Scripts/Imagenes/trucking.png" alt="equipo_de_perforación")
   img(src="Plugs_Scripts/Imagenes/trucking1.png" alt="enlechadora")
   img(src="Plugs_Scripts/Imagenes/trucking2.png" alt="enlechadora")
   img(src="Plugs_Scripts/Imagenes/trucking3.png" alt="enlechadora")
   div(id="menuBoton")
      nav
         ul
            for opc in menu
               li= opc
