- let menu = ["Inicio", "Empresa", "Equipo", "Productos", "Contacto"];
.iconos
   img(src="./js/Plugs_Scripts/Imagenes/trucking.png" alt="equipo_de_perforación")
   img(src="./js/Plugs_Scripts/Imagenes/trucking1.png" alt="enlechadora")
   img(src="./js/Plugs_Scripts/Imagenes/trucking2.png" alt="enlechadora")
   img(src="./js/Plugs_Scripts/Imagenes/trucking3.png" alt="enlechadora")
h1 Grupo Magnate
#menuBoton
nav
   ul.off-canvas
      for opc in menu
         li.elem= opc
