script(
   src="https://code.jquery.com/jquery-2.2.4.min.js"
   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
   crossorigin="anonymous"
   )
script(src="https://use.fontawesome.com/f9b0ff375d.js")
script(src="Plugs_Scripts/JQuery_Plugins/parallax.min.js" charset="utf-8")
script(src="script.js" charset="utf-8")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqPSHyvqJ6J6hqnV6w-ErMQ11b6Y_g3nw" async defer)
script(src="Plugs_Scripts/JQuery_Plugins/app.js" charset="utf-8")
script(src="Swiper-master/dist/js/swiper.jquery.min.js" charset="utf-8")

script.
   $(document).ready(function () {
   //initialize swiper when document ready
   var mySwiper = new Swiper ('.swiper-container', {
     pagination: '.swiper-pagination',
     paginationClickable: true
     });
   });
